target
reports
derby.log
.classpath
.project
.metadata
.shoal
deploy-impl/temp-testng-customsuite.xml
deploy-impl/test-output
junit*.properties
deploy-impl/cobertura.ser
deploy-impl/log
ws-client/bin/
